.event-folder {
    background-color: #dfdfdf;
    color: #000000;
    border-color: #b2b2b2;
}

.event-header {
    border-color: #b2b2b2;
}

.event-content {
    background-color: #d2d2d2;
}

.stage {
    background-color: #c1c1c1;
}

.stage > TextInput {
    color: #0000ff;
}

.command-container {
    background-color: #e3e3e3;
}